<ion-view title="Account" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 50px;"></div>
    <button id="account-button1" class="button button-positive button-block">Clear Data</button>
    <div class="spacer" style="height: 50px;"></div>
    <button id="account-button2" class="button button-positive button-block">Back up Data</button>
    <div class="spacer" style="height: 50px;"></div>
    <button id="account-button3" class="button button-positive button-block">Cancel Account</button>
    <div class="spacer" style="height: 50px;"></div>
    <a ui-sref="login()" id="account-button4" class="button button-positive button-block">Log Out</a>
  </ion-content>
</ion-view>