<ion-view title="History" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="history-form4" class="list">
      <label class="item item-input" id="history-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="history-list4">
      <ion-item id="history-list-item21">Item 1</ion-item>
      <ion-item id="history-list-item22">Item 2</ion-item>
      <ion-item id="history-list-item23">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>