<ion-view title="My Locations" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="myLocations-form3" class="list">
      <label class="item item-input" id="myLocations-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="list card" id="myLocations-card21">
      <ion-item id="myLocations-list-item8">Item</ion-item>
      <div class="item item-body" id="myLocations-list-item-container2">
        <div id="myLocations-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="myLocations-card22">
      <ion-item id="myLocations-list-item10">Item</ion-item>
      <div class="item item-body" id="myLocations-list-item-container3">
        <div id="myLocations-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="myLocations-card23">
      <ion-item id="myLocations-list-item11">Item</ion-item>
      <div class="item item-body" id="myLocations-list-item-container4">
        <div id="myLocations-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>