<ion-view title="What 2 Eat" id="page1">
  <ion-content padding="true" class="has-header">
    
    <div id="scrollBox">

      <!-- <e class="pointerElement"><i class="icon ion-ios-arrow-forward"></i></e> -->

      <div id="elements_one" class="elements"><img src="../img/elements/meat.svg" /></div>
      <div id="elements_two" class="elements"><img src="../img/elements/chiken.svg" /></div>
      <div id="elements_three" class="elements"><img src="../img/elements/burger.svg" /></div>
      <div id="elements_four" class="elements"><img src="../img/elements/burrito.svg" /></div>
      <div id="elements_five" class="elements"><img src="../img/elements/pasta.svg" /></div>
    
          <!--
          <a class="elements"><img src="../img/elements/pizza.svg" /></a>
          <a class="elements"><img src="../img/elements/salad.svg" /></a>
          <a class="elements"><img src="../img/elements/sandwich.svg" /></a>
          <a class="elements"><img src="../img/elements/seaFood.svg" /></a>
          <a class="elements"><img src="../img/elements/soup.svg" /></a>
          <a class="elements"><img src="../img/elements/suchi.svg" /></a>
          <a class="elements"><img src="../img/elements/taco.svg" /></a> -->
    </div>





    </div>
  </ion-content>
</ion-view>