<ion-view title="What 2 Eat" id="page1">
  <ion-content padding="true" class="has-header">
    <spacer-md></spacer-md>
    <div id="scrollBox">
       
        <!-- <e class="pointerElement"><i class="icon ion-ios-arrow-forward"></i></e> -->
       
      <div class="scrollWindow" >
        
          <a class="elements"><img src="../img/elements/burger.svg" /></a>
          <a class="elements"><img src="../img/elements/burrito.svg" /></a>
          <a class="elements"><img src="../img/elements/chiken.svg" /></a>
          <a class="elements"><img src="../img/elements/meat.svg" /></a>
          <a class="elements"><img src="../img/elements/pasta.svg" /></a>
          <a class="elements"><img src="../img/elements/pizza.svg" /></a>
          <a class="elements"><img src="../img/elements/salad.svg" /></a>
          <a class="elements"><img src="../img/elements/sandwich.svg" /></a>
          <a class="elements"><img src="../img/elements/seaFood.svg" /></a>
          <a class="elements"><img src="../img/elements/soup.svg" /></a>
          <a class="elements"><img src="../img/elements/suchi.svg" /></a>
          <a class="elements"><img src="../img/elements/taco.svg" /></a>
      </div>
      
    </div>
   
   

    </div>
  </ion-content>
</ion-view>